<div class="flex align-items-center justify-content-center">
        <h4 class="m-4">Hello, <%= @shop.name %>!</h4>
</div>

<div class="flex flex-column align-items-center justify-content-center">
        <h3 class="d-block text-center"> Seller Dashboard </h3>
        <h5 class="d-block text-center"> comming soon... </h5>
</div>