<div class="d-flex justify-content-center align-items-center mb-5">
    <div class="col-lg-4">
        <h3 class="spree-mb-large spree-mt-large spree-header">Create A Seller Account</h3>
        <%= render "form", seller: @seller %>
    </div>
</div>